
.scene {
    position: relative;
    /* height: 100%; */
    background: #1d1f20;
    padding: 20rem;
    text-align: center;
    background-image: url('../assets/cssCursorFollow/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index:10;
  }
  .magic {
    z-index: 5;
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: url('../assets/cssCursorFollow/giphy-2.gif') 50% 50% no-repeat fixed;
    background-size: 150px 150px;
    border-radius: 50%;
  }

 
  .sample-one{
    background-image: url('../assets/cssCursorFollow/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .sample-img{
    background-image: url('../assets/cssCursorFollow/giphy-2.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: none;
  }

  .cursor{
    width: 200px;
    height: 200px;
    border: 0.5px solid #f4f4f4;
    border-radius: 50%;
    position: fixed;
    /* transform: translate(-50%, -50%); */
  }

  .sample-size{
    height: 200px;
    width: 200px;
    position: relative;
    padding: 20px;
  }

  .sample-size:hover + .sample-img {
    display: block;
  }