
.scene {
    position: relative;
    height: 100%;
    /* background: #1d1f20; */
    /* padding: 20rem; */
    text-align: center;
  }
  .magic {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 20rem;
    height: 20rem;
    background: url('../assets/giphy-2.gif') 50% 50% no-repeat fixed;
    background-size: 150px 150px;
    border-radius: 50%;
  }
  
  .currently-loading {
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    background-image: url(../assets/giphy.gif);
    background-repeat: no-repeat;
    position:absolute;
    height:48px;
    width:48px;
    z-index:10;
  }