@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.motionbar {
    font-family: 'Inter', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #1C1217;
}

h1, h2, h3, h4, p {
    font-weight: 600;
    margin-bottom:0;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    color: #6AA7E5;
}

div {
    box-sizing: border-box;
}

.text {
    padding: 2rem;
    height: 10vh*2;
}

.rect {
    position: relative;
    width: 50vw;
    height: 10vh;
    background-color: #DF1B35;
}

.rect:hover {
    background-color: #FFAE45;
    cursor:pointer;
    transition: background-color 0.7s ease 0.2s;
}

.rect:nth-child(2) {
    left: 0;
    animation: slide-to-left 2s steps(3, start) alternate infinite;
}
@keyframes slide-to-left {
    0% {
        transform: translateX(80%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(70%);
    }
}


.rect:nth-child(9) {
    animation: slide-to-left-2 2s ease-in alternate infinite;
}
@keyframes slide-to-left-2 {
    0% {
        transform: skew(0deg, 0deg);
        width: 0;

    }
    50% {
        transform: skew(5deg, 5deg);
        width: 60vh;
    }
    100% {
        transform: skew(-20deg, -10deg);
        width: 0;
    }
}


.rect:nth-child(3) {
    left: 0;
    height: 20vh;
    animation: slide-to-right-2 4s ease-in alternate infinite;
}
@keyframes slide-to-right-2 {
    0% {
        width: 0px;
    }
    50% {
        width: 70vw;
    }
    100% {
        width: 0px;
    }
}


.rect:nth-child(1) {
    left: 0;
    animation: slide-to-right-1 1s ease-out alternate infinite;
}
.rect:nth-child(5) {
    left: 10vw;
    animation: slide-to-right-1 3s step-end alternate infinite;
}
.rect:nth-child(8) {
    animation: slide-to-right-1 3s ease-in alternate infinite;
    transform: translate(30px, 20px) rotate(20deg);
}
@keyframes slide-to-right-1 {
    0% {
        width: 0px;
    }
    50% {
        width: 30vw;
    }
    100% {
        width: 0px;
    }
}


.rect:nth-child(4) {
    left: 5vw;
    animation: slide-to-right-3 5s linear alternate infinite;
}

.rect:nth-child(7) {
    left: 10vw;
    animation: slide-to-right-3 2s linear alternate infinite;
}
@keyframes slide-to-right-3 {
    0% {
        width: 0;
        transform: translateX(30%);
    }
    50% {
        width: 10vw;
        transform: translateX(0);
    }
    100% {
        width: 30vh;
        transform: translateX(50%);
    }
}
